
<% if flash[:message] %>
  <h2><%= flash[:message] %></h2>
<% end %>

<h1>All Projects</h1>

<% @projects.each do |project| %>
<h4>
  <a href="/projects/<%= project.id %>"><%= project.id %>. <%= project.project_name%></a>
</h4>
<p>
  Person In Charge: <a href="/users/<%= project.user_id %>"><%= project.user.name %></a>
</p>
<br>
<% end %>
