<% if flash[:message] %>
  <h2><%= flash[:message] %></h2>
<% end %>

<h1><%= @project.project_name %></h1>
<h2>Tasks:</h2>
    <% @project.tasks.each do |task| %>
        <% if task.completed %>
          <h5 style="text-decoration: line-through;"><%= task.task_name%><br></h5>
        <% else %>
          <h5><%= task.task_name%><br></h5>
        <% end %>
        <%= task.description%><br>
        <h5>Start date: <%= task.start_date%></h5><br>
        <h5>End date: <%= task.end_date%></h5><br>
        <br><br>

    <% end %>
      <br><br>
